
<h1>Edite o seu livro:</h1>

<form action="/livros/updatelivro" method="post">



<input type="hidden" name="id" id="id" value="{{book.id}}">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" value= "{{book.nome}}" required> 
    </div>

    <div class="form-control">
        <label for="pagesqty">Quantidade de páginas</label>
        <input type="number" name="pagesqty" id="pagesqty" value={{book.qtdPaginas}} required>
    </div>

    <input type="submit" value="Editar">
</form>